@font-face{
    font-family: "Bold";
    src:url("./KiaSignatureBold.ttf")
}

@font-face{
    font-family: "Medium";
    src:url("./KiaSignatureLight.ttf")
}

@font-face{
    font-family: "Regular";
    src:url("./KiaSignatureRegular.ttf")
}